
body{
    box-sizing: border-box;
    background-image:url(../images/download.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
  
    text-align: center;
    

}
p{
    text-align: center;
}

.search {

    text-align: center;
}


table {

    
    text-align: center;
    table-layout: auto;
    margin: auto;
    max-width:80%;
}

tr:nth-child(even) {
    background-color:white;
}

tr:nth-child(odd) {
    background-color:aliceblue;
}

.results{

  padding-top: 15px;

}


table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}



th,
td {
    padding: 20px;

}

.hide {
    display: none;
}



